<h2><%= @title %></h2>


<div style="display: flex">
    <div style="margin-right: auto">
        <ul style='list-style-type: none;'>
            <li><a style='color: black;' href="/ryosai2017/events.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
企画一覧を見る</a></li>
        </ul>
    </div>
    <img src='/ryosai2017/base_data/icon01.jpg' style='width: 50%'>
</div>